@page "/SentinalKey"
@inject HttpClient Http

<PageTitle>SentinalKey</PageTitle>

<MatPaper Elevation="4" class="content-background">

    <p>
        <MatButton Raised="true" type="submit" name="action">Rotate</MatButton>
    </p>

</MatPaper>


@code {

}
